mat-card{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0.5px 0.5px;
}

.card:hover ul {
    display: contents;
    width: 80%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }
  
  .card:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }

  p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight: bold;
  }

  .paginacao{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
    font-size:medium;
    font-weight: bold;
  }